[build-system]
requires = ["flit_core >=3.2,<4"]
build-backend = "flit_core.buildapi"

[project]
name = "nethsm"
authors = [{ name = "Nitrokey", email = "pypi@nitrokey.com" },]
readme = "README.md"
requires-python = ">=3.9"
license = {file = "LICENSE"}
classifiers = ["License :: OSI Approved :: Apache Software License"]
dynamic = ["version", "description"]
dependencies = [
  "urllib3 >=2.0,<2.1",
  "typing_extensions ~= 4.3.0",
  "python-dateutil ~= 2.8.0",
]

[project.urls]
Source = "https://github.com/Nitrokey/nethsm-sdk-py"


[project.optional-dependencies]
dev = [
  "black >=22.1.0,<23",
  "flake8",
  "flit >=3.2,<4",
  "ipython",
  "isort",
  "mypy >=1.4,<1.5",
  "pyinstaller ==5.9.0",
  "pyinstaller-versionfile ==2.1.1; sys_platform=='win32'",
  "pytest",
  "pytest-reporter-html1",
  "docker",
  "pycryptodome",
]

[tool.pytest.ini_options]
testpaths = ["tests"]
# ignore InsecureRequestWarning from urllib3
filterwarnings = ["ignore::urllib3.exceptions.InsecureRequestWarning"]


[[tool.mypy.overrides]]
module = "nethsm.client.*"
ignore_errors = true

[tool.black]
target-version = ["py39"]
extend-exclude = 'nethsm/client'

[tool.isort]
py_version = "39"
profile = "black"
extend_skip = ["nethsm/client"]

[tool.mypy]
show_error_codes = true
python_version = "3.9"
warn_unused_configs = true
warn_redundant_casts = true
